@{
    Layout = "~/Views/Shared/_LayoutEmployee.cshtml";
    ViewData["Title"] = "Promotion";
}
<html>
    <body>
    <div class="content container-fluid">

        <!-- Page Header -->
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Promotion</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="dashBoard.html">Dashboard</a></li>
                        <li class="breadcrumb-item active">Employees</li>
                        <li class="breadcrumb-item active">Promotion</li>
                    </ul>
                </div>
                <div class="col-auto float-right ml-auto">
                    <a href="addPromotion.html" class="btn add-btn" data-toggle="" data-target="#add_promotion"><i class="fa fa-plus"></i> Add Promotion</a>
                </div>
            </div>
        </div>
        <!-- /Page Header -->
        <!-- Search Filter -->
        <div class="row filter-row">
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus select-focus">
                    <select class="select floating">
                        <option>Select </option>
                        <option>ABC</option>
                        <option>XYZ</option>
                        <option>PQR</option>
                        <option>HQS</option>
                    </select>
                    <label class="focus-label">CompanyName</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus select-focus">
                    <select class="select floating">
                        <option>Select </option>
                        <option>ABC</option>
                        <option>XYZ</option>
                        <option>PQR</option>
                        <option>HQS</option>
                    </select>
                    <label class="focus-label">WorkLocation</label>
                </div>
            </div>
            <!-- <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee ID</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Employee Name</label>
                </div>
            </div> -->
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus select-focus">
                    <select class="select floating">
                        <option>Select </option>
                        <option>ABC</option>
                        <option>XYZ</option>
                        <option>PQR</option>
                        <option>HQS</option>
                    </select>
                    <label class="focus-label">Department</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus select-focus">
                    <select class="select floating">
                        <option>Select </option>
                        <option>ABC</option>
                        <option>XYZ</option>
                        <option>PQR</option>
                        <option>HQS</option>
                    </select>
                    <label class="focus-label">SubDepartment</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus select-focus">
                    <select class="select floating">
                        <option>Select </option>
                        <option>ABC</option>
                        <option>XYZ</option>
                        <option>PQR</option>
                        <option>HQS</option>
                    </select>
                    <label class="focus-label">Designation</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <div class="form-group form-focus">
                    <input type="text" class="form-control floating">
                    <label class="focus-label">Emp Code</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-2">
                <a href="#" class="btn btn-success btn-block"> Search </a>
            </div>
        </div> <br>
        <!-- Search Filter -->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <!-- Promotion Table -->
                    <table class="table table-striped custom-table mb-0 datatable">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Promoted_Employee </th>
                                <th>Company_Name</th>
                                <th>Work_Location</th>
                                <th>Department</th>
                                <th>Promotion_Designation_From </th>
                                <th>Promotion_Designation_To </th>
                                <th>Promotion_Date </th>
                                <th class="text-right">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <h2 class="table-avatar blue-link">
                                        <a href="profile.html" class="avatar"><img alt="" src="assets/img/profiles/avatar-02.jpg"></a>
                                        <a href="profile.html">John Doe</a>
                                    </h2>
                                </td>
                                <td>SDL Globe</td>
                                <td>Hessargatta</td>
                                <td>Web_Development</td>
                                <td>Web_Developer</td>
                                <td>Sr Web Developer</td>
                                <td>28 Feb 2019</td>
                                <td class="text-right">
                                    <div class="dropdown dropdown-action">
                                        <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="addPromotion.html" data-toggle="" data-target="#"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_promotion"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /Promotion Table -->

                </div>
            </div>
        </div>
    </div>
    <!-- /Page Content -->
    <!-- Add Promotion Modal -->
    <div id="add_promotion" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 82rem;" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Employee Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-6">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Comapny Name<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select">
                                            <option>Select Comapny Name</option>
                                            <option value="1">ABC</option>
                                            <option value="2">XYZ</option>
                                            <option value="1">ABC</option>
                                            <option value="2">XYZ</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Salutation<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select" disabled>
                                            <option>Select Salutation</option>
                                            <option value="1">Mr.</option>
                                            <option value="2">Mrs.</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">First Name<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <input class="form-control" type="text" value="Web Developer" placeholder="Jitendra" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Middle Name<span class="text-danger"> </span></label>
                                    <div class="col-lg-8">
                                        <input class="form-control datetimepicker" type="text" value="Web Developer" placeholder="Vallabhabhai" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Last Name<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <input class="form-control datetimepicker" type="text" value="Web Developer" placeholder="Adhiya" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Suffix<span class="text-danger"> </span></label>
                                    <div class="col-lg-8">
                                        <input class="form-control datetimepicker" type="text" value="Web Developer" placeholder="Max.50 Chars" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Alias<span class="text-danger"> </span></label>
                                    <div class="col-lg-8">
                                        <input class="form-control datetimepicker" type="text" value="Web Developer" placeholder="Max.50 Chars" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Work Location<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select">
                                            <option>Select Work Location</option>
                                            <option value="1">Ahemdabad</option>
                                            <option value="2">Allahabad</option>
                                            <option value="3">Aurangabad</option>
                                            <option value="4">Indore</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Employee Code<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <input class="form-control datetimepicker" type="text" value="Web Developer" placeholder="8" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Gender<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select" disabled>
                                            <option>Select Gender</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Date Of Birth<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <input class="form-control datetimepicker" type="text" value="Web Developer" disabled>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Marital Status<span class="text-danger"> </span></label>
                                    <div class="col-lg-8">
                                        <select class="select" disabled>
                                            <option>Select Marital Status</option>
                                            <option value="1">Married</option>
                                            <option value="2">Single</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Type<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select">
                                            <option>Select Type</option>
                                            <option value="1">Employee Promotion</option>
                                            <option value="2">Employee Transfer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Effective Formdate<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <input class="form-control datetimepicker" type="text" value="Web Developer">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="text-center submit-section">
                            <button type="submit" class="btn btn-primary submit-btn">Save</button>
                        </div> -->
                    </form>
                    <hr>
                </div>
                <div class="modal-header">
                    <h5 class="modal-title">Work Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#">
                        <div class="row">
                            <div class="col-xl-6">

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Employee Type<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select">
                                            <option>Select Employee Type</option>
                                            <option value="1">Employee</option>
                                            <option value="2">Worker</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Department<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select">
                                            <option>Select Department</option>
                                            <option value="1">Accounts & Finance</option>
                                            <option value="2">IT</option>
                                            <option value="3">HR & Admin</option>
                                            <option value="4">Director</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Sub Department<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select">
                                            <option>Select Sub Department</option>
                                            <option value="1">Accounts</option>
                                            <option value="2">Director</option>
                                            <option value="3">Purchase</option>
                                            <option value="4">Planning</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Designation<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select">
                                            <option>Select Designation</option>
                                            <option value="1">Officer</option>
                                            <option value="2">Assistant Manager</option>
                                            <option value="3">Operator</option>
                                            <option value="4">Programmer</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Grade<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select" disabled>
                                            <option>Select Grade</option>
                                            <option value="1">M1</option>
                                            <!-- <option value="2"></option>
                                            <option value="3"></option>
                                            <option value="4"></option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Employment Status<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select">
                                            <option>Select Employment Status</option>
                                            <option value="1">Probation</option>
                                            <option value="2">Training</option>
                                            <option value="3">Confirmed</option>
                                            <option value="4">Resigned</option>
                                            <option value="5">Resigned withdrowal</option>
                                            <option value="6">Apprentice</option>
                                            <option value="7">Not Confirmed</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Employee Role<span class="text-danger"> *</span></label>
                                    <div class="col-lg-8">
                                        <select class="select">
                                            <option>Select Employee Role</option>
                                            <option value="1">Admin Line</option>
                                            <option value="2">User</option>
                                            <option value="3">Super Admin</option>
                                            <option value="4">Managing Director</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label">Confirmation date<span class="text-danger"> </span></label>
                                    <div class="col-lg-8">
                                        <input class="form-control datetimepicker" type="text" value="Web Developer">
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="text-center submit-section">
                            <button type="submit" class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>
                    <!-- <form>
                        <div class="form-group">
                            <label>Promotion For <span class="text-danger">*</span></label>
                            <input class="form-control" type="text">
                        </div>
                        <div class="form-group">
                            <label>Promotion From <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="Web Developer" readonly>
                        </div>
                        <div class="form-group">
                            <label>Promotion To <span class="text-danger">*</span></label>
                            <select class="select">
                                    <option>Web Developer</option>
                                    <option>Web Designer</option>
                                    <option>SEO Analyst</option>
                                </select>
                        </div>
                        <div class="form-group">
                            <label>Promotion Date <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input type="text" class="form-control datetimepicker">
                            </div>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Submit</button>
                        </div>
                    </form> -->
                </div>
            </div>
        </div>
    </div>
    <!-- /Add Promotion Modal -->
    <!-- Edit Promotion Modal -->
    <div id="edit_promotion" class="modal custom-modal fade" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Promotion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label>Promotion For <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="John Doe">
                        </div>
                        <div class="form-group">
                            <label>Promotion From <span class="text-danger">*</span></label>
                            <input class="form-control" type="text" value="Web Developer" readonly>
                        </div>
                        <div class="form-group">
                            <label>Promotion To <span class="text-danger">*</span></label>
                            <select class="select">
                                <option>Web Developer</option>
                                <option>Web Designer</option>
                                <option>SEO Analyst</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Promotion Date <span class="text-danger">*</span></label>
                            <div class="cal-icon">
                                <input type="text" class="form-control datetimepicker">
                            </div>
                        </div>
                        <div class="submit-section">
                            <button class="btn btn-primary submit-btn">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /Edit Promotion Modal -->
    <!-- Delete Promotion Modal -->
    <div class="modal custom-modal fade" id="delete_promotion" role="dialog">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="form-header">
                        <h3>Delete Promotion</h3>
                        <p>Are you sure want to delete?</p>
                    </div>
                    <div class="modal-btn delete-action">
                        <div class="row">
                            <div class="col-6">
                                <a href="javascript:void(0);" class="btn btn-primary continue-btn">Delete</a>
                            </div>
                            <div class="col-6">
                                <a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>